.node {
    display: flex;
    flex-direction: column;

    &.hover {
        background-color: var(--bg3);
    }
    .kind {
        padding: 0 0 1px 4px;
    }
    .children {
        display: flex;
        flex-direction: column;
        padding-left: 2ch;
    }
    .value {
        margin-left: 1ch;
    }
}
