.Home {
    display: flex;
    width: 100%;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        width: 720px;
        max-width: 720px;

        .header {
            display: flex;
            align-items: center;
            width: 100%;
            border-bottom: 2px solid var(--bg3);

            a {
                display: flex;
                align-items: center;
                font-size: 1.25rem;
                padding: 0.75rem 1rem;
                text-decoration: none;

                i {
                    font-size: 1.5rem;
                    width: 1.5rem;
                }
                img {
                    height: 2rem;
                }
            }
            .right {
                margin-left: auto;
            }
        }
        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 2rem;
            gap: 1rem;

            img {
                margin: 1rem;
            }
            h1 {
                margin: 0;
            }
        }
    }
}
