@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap')

\:root
  --bg: #ffffff
  --bg2: #eeeeee
  --bg3: #dddddd
  --fg: #000000
  --fg2: #111111
  --region: hsla(87, 100%, 42%, 0.4)
  --special: #c955e7

@media (prefers-color-scheme: dark)
  \:root
    --bg: #222222
    --bg2: #333333
    --bg3: #555555
    --fg: #ffffff
    --fg2: #eeeeee

body
  background-color: var(--bg)
  color: var(--fg)

html
  font-size: 16px

html, body, #root
  margin: 0
  width: 100%
  height: 100%

*
  box-sizing: border-box
  font-family: 'Inter', sans-serif
  font-variant-ligatures: none

pre
  font-family: 'JetBrains Mono', monospace
  margin: 0

code
  font-family: 'JetBrains Mono', monospace
  background-color: var(--bg2)
  border-radius: 4px
  padding: 0 4px

p
  margin: 0

a
  color: var(--fg)
  text-decoration: none

  &:hover
    color: var(--special)

i
  color: var(--fg)

  &:hover
    color: var(--special)
