.App
  display: grid
  width: 100%
  height: 100vh
  grid-template-columns: repeat(2, 1fr)

  .editorContainer
    display: flex
    min-height: 0
    min-width: 0
    height: 100%
    padding: 1rem

    & *
      font-family: 'JetBrains Mono', monospace

    .region
      background-color: var(--region)

  .rightPanel
    display: grid
    height: 100%
    overflow-y: auto

    & > *
      padding: 1rem
      width: 100%

    .parseTreeViewer

      .parseNode
        display: flex
        flex-direction: column

        &.hover
          background-color: var(--bg2)

        .kind
          display: flex
          align-items: center
          padding-top: 2px
          padding-bottom: 2px

        .child
          padding-left: 2ch

        .value
          margin-left: 1ch


    .lexerErrorViewer

    .syntaxErrorViewer
