.App
  display: grid
  width: 100%
  height: 100%
  grid-template-columns: repeat(2, 1fr)

  .editorContainer
    display: flex
    overflow-y: scroll

    & *
      font-family: 'JetBrains Mono', monospace

  .rightPanel
    display: flex
    height: 100%
    overflow-y: scroll

    & > *
      padding: 1rem
      width: 100%

    .parseTreeViewer

      .parseNode
        display: flex
        flex-direction: column

        .kind
          margin: 0
          padding: 2px

        .child
          padding-left: 4ch

        .value
          margin: 0

    .lexerErrorViewer

    .syntaxErrorViewer
